header {
    background-color: #D17C3F;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin: 10px auto;
    text-align: unset;
  }

 * {
    box-sizing: border-box;
  }

body {
    background-color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #2e2e2e;
  }


h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
h2 {
    font-size: 2.25em;
    font-weight: 500;
  }
  
h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  
h4 {
    font-size: 1.35em;
    font-weight: 700;
  }
  
img {
    width: 100%;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  nav>ul>li>a:visited

  nav>ul>li>a:hover

  nav>ul>li> a:active

a {
    color: #0077E4;
  }

.button.contact {
    background-color: #D17C3F;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
  }
  
.button.contact:hover {
    background-color: #E79356;
    color: #ffffff;
  }
  
.button {
    background-color: #D17C3F;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s opacity;
  }
  
.button:hover {
    background-color: #E79356;
    color: #ffffff;
  }
  
.button.resume {
    background-color: #D17C3F;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
  }
  
.button.resume:hover {
    background-color: #E79356;
    color: #ffffff;
  }

.button.readmore {
    background-color: #D17C3F;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
  }
  
.button.readmore:hover {
    background-color: #E79356;
    color: #ffffff;
  }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.center {
    text-align: center;
}

.dcskyline {
  animation-duration: 4s;
  animation-name: dc_skyline;
  animation-iteration-count:initial;
  animation-direction: alternate;
  animation-timing-function:cubic-bezier(1, 0, 0, 1)
}


 @keyframes dc_skyline {
    from {transform: scale(0,2.0);}
    to {transform: scale(2.0,1.0);}
  }


.logo {
    max-width: 125px;
    max-height: 150px;
  }

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5)
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.row {
    margin: 25px 0;
}

#about h2 {
  margin-top: 0;
}

#heroSection {
    background-color: #2D3144;
    color: #ffffff;
    padding: 40px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#hero span {
  display: block;
}

#hero {
  display: block;
  max-width: 75%;
}

#projectSection {
    background-color: #ffffff;
    color: #2e2e2e;
    padding: 40px;
    text-align: left;
}

#contact {
  background-color: #D17C3F;
  text-align: center;
  color: #ffffff;
  padding: 0.67em;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  main {
    padding-top: 56px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin: 1em 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
      
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}


.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}

.logo {
  min-width: 641px
}

  nav {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    line-height: 100%;
    font-size: 3em;
    font-weight: 700;
  }

  h2 {
    line-height: normal;
    font-size: 2em;
    font-weight: 500;
  }

  h3 {
    line-height: normal;
    font-size: 1.75em;
    font-weight: 500;
  }

  h4 {
    line-height: normal;
    font-size: 1em;
    font-weight: 700;
  }

  li p {
    font-size: 1.75em;
  }

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

nav {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}

.logo {
  min-width: 641px
}